@page "/"

<div class="mypage">
    <div class="mynavbar">
        <div class="mynavbar-title">APIverse</div>

        <a href="#">
            <div class="mynavbar-text">Blog</div>
        </a>

        <a href="#">
            <div class="mynavbar-text">Learn</div>
        </a>

        <a href="#">
            <div class="mynavbar-text">My favourites</div>
        </a>
    </div>

    <div class="mycontainer">
        <div class="prefference-row">
            <button class="prefference-container">
                <div class="prefference-text">Home</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Analytics</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Animlas</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Anime</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Books</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Bussines</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Crypto</div>
            </button>

            <button class="prefference-container">
                <div class="prefference-text">Sports</div>
            </button>
        </div>

        <div class="api-row">
            <div class="api-card">
                <a href="#">
                    <div class="api-card-title">Abstract Geolocation API</div>
                </a>

                <div class="api-card-tag">
                    <div class="api-card-tag-text">apiKey</div>
                </div>

                <div class="api-card-description">Abstract IP geolocation API provides developers from small startups to big technology...</div>
            </div>

            <div class="api-card">

            </div>
        </div>

        <h1>Salut</h1>
    </div>
</div>

@code {

}
